<ion-content [fullscreen]="true">
  <div class="contentMain">
    <h1>Leitor de temperaturas</h1>
    <input [(ngModel)]="inputTemperature" type="number" placeholder="Digite uma temperatura...">
    <select [(ngModel)]="optionTemperature" class="selectOptionTemperature">
      <option value="Fahrenheit">Fahrenheit</option>
      <option value="Celsius">Celsius</option>
    </select>
    <button (click)="calcTemperature()">Calcular</button>
    <label>{{resTemperature}}</label>
  </div>
</ion-content>
